.navBar {
  background-color: #f03f3b;
  height: 88px;
  display: flex;
  justify-content: center;
}
.pageContainer {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
}
/* .content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
} */

@media (max-width: 768px) {
  .navBar {
    height: 64px;
  }
  .content {
    padding: 16px;
  }
}
