.appointmentContainer {
  display: flex;
  flex-direction: column;
}
.appointmentInfo h2 {
  color: #11101c;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.02em;
}

.appointmentInfo p {
  color: #11101c80;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 16px;
}
.nannyImage img {
  border-radius: 15px;
  background: #e0e0e0;
}

.nannyInfo {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 14px;
}
.nanny {
  color: #8a8a89;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.name {
  color: #11101c;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.formGroup {
  display: flex;
  /* flex-direction: row; */
  gap: 8px;
  width: 100%;
}
.formItem {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.formGroupItemInput {
  display: flex;
  /* width: 232px; */
  width: 100%;
  height: 42px;
  border: 1px solid #11101c1a;
  border-radius: 12px;
  color: #11101c;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-left: 18px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.btn {
  background-color: #f03f3b;
  width: 472px;
  height: 52px;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 30px;
  align-items: center;
  color: #fbfbfb;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
}

.fullWidth {
  /* width: 472px; */
  width: 100%;
}
/* .fullHeight {
  height: 116px;
} */
