.backdrop {
  position: fixed;
  inset: 0;
  background: #0b0b0b99;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #fbfbfb;
  padding: 24px;
  border-radius: 30px;
  position: relative;
  max-width: 500px;
  width: 100%;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #11101c;
}
