.filtersWrapper {
  margin-left: 128px; /* soldan 128px */
  margin-top: 64px; /* navbar’dan 64px aşağı */
  margin-bottom: 24px;
}

/* Select kutusunun dışı */
.selectWrapper {
  position: relative;
  width: 220px;
}

.select {
  width: 100%;
  /* padding: 12px 16px;
  padding-right: 40px; */
  width: 226px;
  height: 48px;
  padding-left: 18px;

  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  color: #fbfbfb;

  background-color: #f03f3b;
  border: none;
  border-radius: 14px;

  appearance: none;
  cursor: pointer;
}

.arrow {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%) rotate(45deg);
  width: 10px;
  height: 10px;
  border-right: 2px solid#FBFBFB;
  border-bottom: 2px solid #fbfbfb;
  pointer-events: none;
}

/* Tablet */
@media (max-width: 1024px) {
  .filtersWrapper {
    margin-left: 64px;
  }
}

/* Mobil */
@media (max-width: 768px) {
  .filtersWrapper {
    margin-left: 16px;
    margin-top: 24px;
  }

  .selectWrapper {
    width: 100%;
    max-width: 280px;
  }
}
