.loginContainer {
  display: flex;
  flex-direction: column;
}

.loginTitle {
  color: #11101c;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}

.loginDesc {
  color: #11101c80;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 40px;
}

.formInput {
  border: 1px solid #11101c1a;
  border-radius: 12px;
  height: 52px;
  width: 438px;
  display: flex;
  align-items: center;
  padding-left: 18px;
}

.btn {
  width: 438px;
  height: 52px;
  border-radius: 30px;
  border: none;
  background-color: #f03f3b;
  margin-top: 20px;
  color: #fbfbfb;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
}
