.homePageContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  /* flex-direction: row; */
}
.homePageLeft {
  width: 50%;
  background-color: #f03f3b;
  padding-left: 96px;
  padding-top: 251px;
}
.homePageLeftTitle {
  font-weight: 500;
  /* font-size: 70px;
  line-height: 70px; */
  font-size: clamp(36px, 6vw, 70px);
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: #fbfbfb;
}
.homePageLeftDesc {
  font-weight: 400;
  /* font-size: 28px;
  line-height: 30px; */
  font-size: clamp(18px, 3vw, 28px);
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: #fbfbfb;
  margin-top: 28px;
}
.homePageLeftBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
  border: 1px solid #fbfbfb66;
  border-radius: 30px;
  width: 230px;
  height: 60px;
  color: #fbfbfb;
  background-color: transparent;
}
.homePageLeftBtnIcon {
  margin-left: 8px;
}
.homePageLeftBtn:hover .homePageLeftBtnIcon {
  transform: rotate(45deg);
}

.homePageRight {
  width: 50%;
  background-image: url("../../assets/Rectangle\ 1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.box {
  width: 284px;
  height: 118px;
  border-radius: 20px;
  background-color: #fbfbfb;
  position: fixed;
  right: 50px;
  bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 44px;
}

.boxIcon {
  width: 54px;
  height: 54px;
  border-radius: 13px;
  background-color: #f03f3b;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fbfbfb;
  margin-right: 16px;
}
.boxDesc p {
  font-weight: 400;
  font-style: 16px;
  color: #11101c80;
}
.boxDesc span {
  color: #11101c;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  margin-top: 6px;
}

@media (max-width: 768px) {
  .homePageContainer {
    flex-direction: column;
  }

  .homePageLeft,
  .homePageRight {
    width: 100%;
  }

  .homePageLeft {
    padding: 64px 24px;
  }

  .homePageRight {
    height: 300px;
  }

  .homePageLeftBtn {
    width: 100%;
    max-width: 280px;
    height: 52px;
  }

  .box {
    position: fixed;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    right: auto;

    width: calc(100% - 32px);
    max-width: 320px;
    height: auto;
    padding: 16px;
  }
}
